ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #ffe600; /* Amarillo claro */
}

li {
  float: left;
}

li a {
  color: #333; /* Texto negro */
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #0dcc14; /* Amarillo más oscuro al hacer hover */
}

.activo {
  background-color: #43d708; /* Amarillo más intenso para el elemento activo */
}

.derecha {
  float: right;
}

.miJumbo {
  margin-top: 1rem;
  padding: 32px 16px;
  background-color: #4f4e46; /* Amarillo claro */
  border-radius: 0.5rem;
  text-align: center;
  color: #333; /* Texto negro */
}

.fondo {
  background-color: rgb(232, 236, 239);
}